// out: ../css/styles.css, compress: true, sourceMap: true, autoprefixer: last 5 versions, groupmedia: true
body {
background: #f5f5f5;
}

.fancy-head {
	display: block;
	background: #fff;
	line-height: 1;
	position:relative;
	z-index: 0;
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 10px!important;

	&:before {
		content:"";
		width: 100%;
		height: 1px;
		position: absolute;
		background: #d1d1d1;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto; 
		z-index: -1;
	}

	span {
		display: inline-block;
		padding-right:10px;
		position: relative;
		z-index: 0;
		background: #fff;
	}
}

.branch_wrapper {
	display:none; 
}

ul.list {
    margin: 0;
    padding: 0;
    li {
        margin: 20px 0;
        padding: 20px;
        border: 1px solid #e5e5e5;

        .switch {
            margin-bottom: 0;
        }
    }
}

.list-question {
	padding: 10px 0;
	border-bottom: 1px dashed #e5e5e5;

	label:only-child {
		margin: 0!important;
	}
}

.form-control {
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	background: #f9f9f9;
	font-size: 16px;
}

.card {
	border: none;
	box-shadow: 0 5px 30px rgba(0,0,0,.05);
	border-radius: 8px;
	margin-bottom: 40px;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
	background: #000;
	border-color: #000;
	color: #9b8143;
	&:hover {
		background: #000;
		border-color: #000;
		color: #9b8143;
	}
}

.btn-primary.disabled, .btn-primary:disabled {
	opacity: .2;
}

.additional_question {
	padding-left: 15px;
	border-left: 2px solid #d1d1d1;
	font-size: 13px;
}